.header {
    position: sticky;
    top:0;
    width: 100%;
    padding: 8px 16px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.header-menu-buscar{
    display: flex;
    justify-content:flex-start;
    align-items: center;

}

.header-button-buscar-min768{
    display: none;
}

.header-login-cart{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.header-button {
    background-color: var(--first-color);
    border: none;
    color: var(--second-color);
    height: 3em;
    width: 3em;
    font-size:medium;
}

.header-button:hover {
    border-radius: 2em;
    background-color: var(--third-color);
    opacity: .8;
    cursor: pointer;
}

.header-logo {
    height: 6em;
    width: 6em;
    display: flex;
    align-items: flex-end;
}


/* TABLET */
@media (min-width: 768px){
    .header-button-buscar-max768{
        display: none;
    }
    
    .header-menu-buscar{
        width: 30%;
        gap: 1em;
        align-items: center;
    }

    .header-login-cart{
        width: 30%;
        gap: 1em;
        align-items: center;
    }

    .header-button-buscar-min768{
        padding: 0 .5em;
        width: 20vw;
        height: 2em;
        border: .2em solid var(--second-color);
        border-radius: 2px;
        color: var(--second-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo {
        height: 8em;
        width: 8em;
    }

    .header-button {
        font-size:larger;
    }
    
}

/* DESKTOP */
@media (min-width: 1200px) {

    .header-logo {
        height: 10em;
        width: 10em;
    }

    .header-button {
        font-size:x-large;
    }

    .header-button-buscar-min768{
        font-size: larger;
    }
}