
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conejo bookstore cart</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/974a6748c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../css/cart.css" />
    <link rel="stylesheet" href="../../../css/footer.css" />
</head>


<body>

    <%- include ('../partials/header.ejs') %>

    <main>

        <section class="section" id="cart">
            <ul>
                <li>
                    <img class="productos-seleccionados-imagen" src="../assets/libros/1.jpeg"/>
                    <div class ="productos-seleccionados" >
                        <div class="productos-seleccionados-titulo">
                        <h2>Feminismo Para Principiantes</h2>
                        <h3>Nuria Varela</h3>
                        </div>
                        <div class="productos-seleccionados-cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="productos-seleccionados-precio">
                        <i class="fa-solid fa-trash"></i>
                        <p id="save">guardar para más tarde</p>
                        <p id="precio">$3800</p>
                    </div>
                </li>
                <li>
                    <img class="productos-seleccionados-imagen" src="../assets/libros/2.jpeg"/>
                    <div class ="productos-seleccionados">
                        <div class="productos-seleccionados-titulo">
                        <h2>El Chico de las Estrellas</h2>
                        <h3>Chris Pueyo</h3>
                        </div>
                        <div class="productos-seleccionados-cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="productos-seleccionados-precio">
                        <i class="fa-solid fa-trash"></i>
                        <p id="save">guardar para más tarde</p>
                        <p id="precio">$3800</p>
                    </div>
                </li>
                <li>
                    <img class="productos-seleccionados-imagen" src="../assets/libros/3.jpeg"/>
                    <div class ="productos-seleccionados">
                        <div class="productos-seleccionados-titulo">
                        <h2>Ecologismo Real</h2>
                        <h3>J. M. Mulet</h3>
                        </div>
                        <div class="productos-seleccionados-cantidad">
                            <button>-</button>
                            <p>1</p>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="productos-seleccionados-precio">
                        <i class="fa-solid fa-trash"></i>
                        <p id="save">guardar para más tarde</p>
                        <p id="precio">$3800</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="section" id="comprar">
            <div>
                <h3>TOTAL $7600</h3> 
            </div>
            <button>comprar</button>
        </section>

    </main>

    <%- include ('../partials/footer.ejs') %>
    
</body>
</html>