<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conejo Bookstore</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Spectral+SC:wght@200;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/974a6748c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../css/header.css" />
    <link rel="stylesheet" href="../../../css/login.css" />
    <link rel="stylesheet" href="../../../css/footer.css" />
</head>


<body>

    <%- include ('../partials/header.ejs') %>

    <main>
        <section>
            <span id="titulo">
                <h1>INICIAR SESION</h1>
            </span>
            <div id="form">
                <form id="login" action="/login" method="post">
                    <label for="email"></label>
                    <input class="login"
                    required
                    id="email"
                    type="email"
                    name="email"
                    placeholder="email"
                    />
                    <label for="password"></label>
                    <input class="login"
                    required
                    id="password"
                    type="password"
                    name="password"
                    placeholder="password"
                    />
                    <button id="ingresar" type="submit">INGRESAR</button>
                </form>
                <span id="loginEnlace">
                    <a class="loginEnlace" href="/resetPassword">Olvide mi contraseña</a>
                    <a class="loginEnlace" href="/register">Registrarme</a>
                </span>
            </div>
        </section>

    </main>

    <%- include ('../partials/footer.ejs') %>

</body>
</html>

